*.angular linguist-detectable=false
*.tyescript linguist-detectable=false
*.java linguist-detectable=false
*.css linguist-detectable=false
*.csharp linguist-detectable=false
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false    

* text=auto
*.js linguist-language=angular
*.css linguist-language=angular
*.html linguist-language=angular
